@import url('./font.css');
@import url('./reset.css');

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.section__title {
	position: relative;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.13em;
	color: #48555b;
}

.section__title::before {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: inline-block;
	width: 50px;
	height: 3px;
	background-color: #00a4e5;
}

.section__desc {
	font-weight: 400;
	font-size: 13px;
	line-height: 177%;
	letter-spacing: 0.01em;
	color: #48555b;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	height: 100vh;
	padding: 41px 0 71px;
	background: url('../images/hero-bg.jpg') #36485c no-repeat center/cover;
}

.hero__logo {
	width: 102px;
}

.hero__title {
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 60px;
	letter-spacing: 0.1em;
	text-align: center;
}

.hero__desc {
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}

.hero__scroll {
	font-weight: 600;
	font-size: 11px;
	letter-spacing: 0.34em;
}
/* Header */
.header {
	height: 62px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.header > .container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.header__logo img {
	width: 102px;
	height: auto;
}

/* Навигационное меню */
.header__nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header__list {
	display: flex;
	gap: 40px;
}

.header__link {
	color: #48555b;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.header__link:hover {
	color: #00a4e5;
}

.header__link:active {
	color: #066a92;
}
/* HEADER */

/* ABOUT */
.about {
	padding: 60px 0;
}

.about__title {
	text-align: center;
	margin-bottom: 96px;
}

.about__content {
	max-width: 405px;
}

.about__heading {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.01em;
	color: #48555b;
}

.about__desc {
	margin-top: 26px;
}
/* ABOUT CARDS */
.about__flex {
	display: flex;
	justify-content: space-between;
}

.about__cards {
	display: flex;
	column-gap: 20px;
}
.about__card {
	width: 140px;
	height: 224px;
	padding: 15px;
	background-color: #36485c;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	transition: 0.3s;
}

.about__card:hover {
	background-size: 120%;
}

.about__card:nth-child(1) {
	background-image: url(../images/Bitmap.jpg);
}

.about__card:nth-child(2) {
	background-image: url(../images/Bitmap_1.jpg);
}

.about__card:nth-child(3) {
	background-image: url(../images/Bitmap_2.jpg);
}

.about__lg-title {
	font-weight: 800;
	font-size: 24px;
	line-height: 121%;
	letter-spacing: 0.01em;
	color: #fff;
}
/* ABOUT CARDS */
/* ABOUT */
/* SERVICES */
.services {
}

.services__cards {
	display: flex;
	column-gap: 20px;
}
.services__card {
	width: 295px;
	height: 330px;
	border: 1px solid #00a4e5;
	background-repeat: no-repeat;
	padding: 38px 22px;
	padding-left: 23px;
}

.services__title {
	margin-top: 30px;
}

.services__desc {
	margin-top: 19px;
}
/* SERVICES */
